= form_for(@job, :url => jobs_path(:department => params[:department], :cal_start => params[:cal_start]), remote: true, :html => { :class => "form-horizontal" }) do |f|
  - if @job.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  = render partial: 'form_fields', locals: { f: f }
  .form-group.col-sm-4.form-actions
    .col-sm-12
      = f.submit :class => "btn btn-sm btn-primary"
      = content_tag(:div, 'Close', :class => "btn btn-sm btn-default", :id => "close")
