.page-header
  = link_to jobs_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_job_path(@job), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show job
%dl.dl-horizontal
  %dt Project:
  %dd= Project.find_by_id(@job.project_id).name
  %dt Resource:
  %dd= Resource.find_by_id(@job.resource_id).name
  %dt Start date:
  %dd= @job.start_date
  %dt End date:
  %dd= @job.end_date
  %dt Description:
  %dd= @job.description
