.page-header
  = link_to new_project_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Project
  %h1 Listing projects
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Department
        %th Color
        %th Status
        %th
        %th
        %th
    %tbody
      = content_tag_for(:tr, @projects) do |project|
        %td= project.name
        %td= project.department
        %td
          %span.color-icon{:style => "background-color:#{project.color}"}
          = project.color
        %td= project.status == true ? 'Active' : 'Inactive'
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
