%tbody.table-body
  - @resources.by_status(true).each do |resource|
    %tr.resource-row
      %td= resource.name
      - @calendar.weeks.each do |week|
        - work_days = week[0]..week[4]
        %td.week
          - work_days.each do |day|
            .day
              - if day.holiday?(:de)
                .holiday{:style => "background:none"}
                  %span.glyphicon.glyphicons-lock
                    = link_to '', '', :title => Holidays.on(day, :de)[0][:name]
              - else
                - Job.where("resource_id = ? AND start_date < ? AND end_date > ?", resource.id, day.tomorrow, day.yesterday).includes(:project).each do |job|
                  - if job.schedule.blank?
                    = render_job_item(job)
                  - elsif !job.converted_schedule.blank? && job.converted_schedule.occurs_on?(day)
                    = render_job_item(job)
                = new_job(day, resource.id)

