%tbody.table-body
  - @ressources.by_status(true).each do |ressource|
    %tr.ressource-row
      %td= ressource.name
      - @calendar.weeks.each do |week|
        - work_days = week[0]..week[4]
        %td.week
          - work_days.each do |day|
            .day
              - if day.holiday?(:de)
                .holiday{:style => "background:none"}
                  %span.glyphicon.glyphicons-lock
                    = link_to '', '', :title => Holidays.on(day, :de)[0][:name]
              - else
                - Job.end_date_greater_than(@calendar.first_day - 1).each do |job|
                  - if day.between?(job.start_date, job.end_date) && ressource.id == job.ressource_id
                    .job{:style => "background:#{Project.find_by_id(job.project_id).color};", :class => job.all_day == true ? 'all-day' : ''}
                      = link_to '', edit_job_path(job, :department => params[:department], :cal_start => params[:cal_start]), :title => truncate(job.short_info, :length => 32), remote: true
                = new_job(day, ressource.id)

