%tbody.table-body
  - @ressources.by_status(true).each do |ressource|
    %tr.ressource-row
      %td= ressource.name
      - @calendar.weeks.each do |week|
        - work_days = week[0]..week[4]
        %td.week
          - work_days.each do |day|
            .day
              - if day.holiday?(:de)
                .holiday{:style => "background:none"}
                  %span.glyphicon.glyphicons-lock
                    = link_to '', '', :title => Holidays.on(day, :de)[0][:name]
              - else
                - Job.end_date_greater_than(@calendar.first_day - 1).each do |job|
                  - if ressource.id == job.ressource_id
                    - if job.schedule.blank? && day.between?(job.start_date, job.end_date)
                      = render_job_item(job)
                    - elsif !job.converted_schedule.blank? && job.converted_schedule.occurs_on?(day)
                      = render_job_item(job)
                = new_job(day, ressource.id)

