<tbody class="table-body">
	<% $ressources.each do |ressource| %>
		<tr class="ressource-row">
			<td><%= ressource.name %></td>
			<% $calendar.weeks.each do |week| %>
				<% work_days = week[0]..week[4] %>
				<td class="week">
					<% work_days.each do |day| %>
						<div class="day">
							<%# jobs_by_date(day, ressource.id) %>
							<% Job.all.each do |job| %>
								<% if day.between?(job.start_date, job.end_date) && ressource.id == job.ressource_id %>
									<div class="job" style="background:<%= Project.find_by_id(job.project_id).color %>;">
										<%= link_to '', edit_job_path(job), remote: true %>
										<span class="tooltip"><%= job.project.name %></span>
									</div>
								<% end %>
							<% end %>
							<%= new_job(day, ressource.id) %>
						</div>
					<% end %>
				</td>
			<% end  %>
		</tr>
	<% end %>
</tbody>