!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Resource Planner
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <haml:loud> javascript_include_tag &amp;quot;https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js&amp;quot;, &amp;quot;https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js&amp;quot; </haml:loud>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Resource Planner", "/", :class => "navbar-brand"
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.pull-right
            - if user_signed_in?
              %li
                = link_to 'Projects', projects_path
              %li
                = link_to 'Resources', resources_path
              %li
                = link_to 'Jobs', jobs_path
            %li
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path
              - else
                = link_to 'Login', new_user_session_path
    .container
      - flash.each do |name, msg|
        = content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          = msg
      = yield
